<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Support - Corundum</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/logo.png">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="strongText" title="Corundum">Corundum</a>
                    </li>
                    <li>
                        <a href="support.html" title="Support">Support</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Support</h2>
            <p>Pour le moment, le support n'est pas disponible ! Si vous voulez contacter l'équipe du projet, cliquez <a href="https://discord.gg/v8T7gUWMva" target="_blank">ici</a> !</p>
            <p>Vous pouvez voir l'avancement général du projet sur notre <a href="https://github.com/corundum-os" target="_blank">profil GitHub</a>.</p>
        </main>
        <footer>
            <p>©2023, Corundum. All right reserved.</p>
        </footer>
    </body>
</html>