* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.7rem;
    font-family: sans-serif;
}

header {
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
    text-decoration: none;
}

main {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1% 5%;
}

.button:hover {
    background-color: gray;
}

a {
    color: blue;
    text-decoration: underline;
}

.main__products {
    text-align: left;
}

article {
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.5rem;
}

.products__article--left {
    width: 45%;
    float: left;
}

.products__article--right {
    width: 45%;
    float: right;
}

.main__support {
    text-align: left;
}

.support__space {
    margin: 1%;
}

.main__404 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    background-color: black;
}

footer p {
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1% 0;
}

.clear {
    clear: both;
}